@use '../utilities' as *;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: rem(15);
  color: var(--heading-color);
}

p {
  margin-top: 0;
  font-size: rem(15);
  line-height: 1.7;
  color: var(--text-color);
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

span {
  margin-top: 0;
}
